body{
	overflow: hidden;
	background-color: darkgrey;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
}

.appContainer {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	height: 100%;
	background: darkgrey;
	color: black;
}

.tabLane {
    overflow: visible;
    width: 100%;
    height: 26px;
    background: white;
    border-left: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
}

.tabPager {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 27px;
}

.tabPagerButtonLeft,
.tabPagerButtonRight,
.tabPagerButtonPlus {
    float: left;
    width: 23px;
    height: 23px;
    margin-left: 2px;
    margin-right: 1px;
    padding-top: 3px;
    padding-left: 3px;
    border: solid lightgrey 1px;
}

.tabPagerButtonLeft:hover,
.tabPagerButtonRight:hover,
.tabPagerButtonPlus:hover {
    border: solid 1px #86BFA0;
    background: #D3F0E0;
}

.tabPagerButtonLeft:active,
.tabPagerButtonRight:active,
.tabPagerButtonPlus:active {
    border: solid 1px #429366;
    background: #86BFA0;
}

.tabPagerButtonLeft.disabled,
.tabPagerButtonRight.disabled,
.tabPagerButtonPlus.disabled {
    color: lightgrey;
}

.tabPagerButtonLeft.disabled:hover,
.tabPagerButtonRight.disabled:hover,
.tabPagerButtonPlus.disabled:hover {
    color: lightgrey;
    background: white;
    border: solid lightgrey 1px;
}

.tabLaneSpacer {
    width: 100%;
    height: 3px;
    background: #86BFA0;
    border-bottom: solid 1px lightgrey;
}

.tabHeading {
    overflow: hidden;
    float: left;
    margin-top: 1px;
    width: 190px;
    height: 25px;
    background: white;
    border: solid 1px lightgrey;

    font-size: 8pt;
    line-height: 25px;
    text-align: left;
}

.tabHeadingLabel {
    float: left;
    width: 167px;
    height: 100%;
    padding-left: 10px;
}

.tabRemoveButton {
    float: right;
    height: 100%;
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
}

.tabRemoveButton:hover {
    color: darkred;
}

.tabHeading:hover {
    border: solid 1px #86BFA0;
    background: #D3F0E0;
}

.tabHeading.active {
    border-top: solid 3px #429366;
    border-left: solid 1px #429366;
    border-right: solid 1px #429366;
    border-bottom: #86BFA0;
    background: #86BFA0;
}

.tabContent {
    position: absolute;
    overflow: auto;
    width: 100%;
    top: 29px;
    bottom: 0;
}

.tabSectionSeparator {
    width: 100%;
    height: 4px;
    border: solid lightgrey 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #86BFA0;
}

.panel-nevsuite {
    width: 1000px;
    margin: 0 auto;
    border-color: #429366;
}

.panel-nevsuite > .panel-heading {
    position: relative;
    background-color: #86BFA0;
    color: #07412f;
    border-color: #429366;
}

.panel-body {
    background-color: whitesmoke;
}

.editModeIcon {
    position: absolute;
    font-size: 16px;
    top: 14px;
    right: 14px;
}

.editModeIcon:hover {
    color: #D3F0E0;
}

.editModeIcon:active {
    color: #07412f;
}

.form-control {
    border-color: #bbbbbb;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.form-control:hover {
    border-color: #429366;
}

.form-control:focus {
    border-color: #429366;
    box-shadow: 0 0 6px #86BFA0;
}

.componentInfoBubble {
    padding-left: 14px;
    font-size: 14px;
}