.widget,
.widgetFocused {
    position: relative;
    background-color: white;
    border: solid 1px darkgrey;
    border-radius: 2px;
    width: 100%;
    height: 28px;
}

.widgetFocused {
    border: solid 1px #429366;
    box-shadow: 0 0 6px #86BFA0;
    outline: 0 solid transparent;
}

.widget:hover,
.widget:focus,
.widget:active {
    border: solid 1px #429366;
    box-shadow: 0 0 6px #86BFA0;
    outline: 0 solid transparent;
}

.inputField {
    background-color: white;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 12px;
    padding-left: 6px;
    padding-top: 3px;
}

.inputField:hover,
.inputField:active,
.inputField:focus {
    box-shadow: 0 0 6px #86BFA0, inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch {
    position: relative;
    background-color: lightgrey;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    border: solid 1px darkgrey;
    border-radius: 22px;
    width: 55px;
    height: 28px;
    font-size: 12px;
}

.switch:hover,
.switch:focus,
.switch:active {
    box-shadow: 0 0 6px #86BFA0, inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch.checked {
    background-color: #86BFA0;
}

.switchBullet {
    position: absolute;
    background-color: white;
    border-radius: 26px;
    border: solid 1px darkgrey;
    top: 1px;
    width: 24px;
    height: 24px;
}

.switchBullet.unchecked {
    left: 1px;
}

.switchBullet.checked {
    right: 1px;
}

.comboboxTextfield {
    background-color: inherit;
    border-right: solid 1px darkgrey;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    height: 100%;
    margin-right: 28px;
}

.comboboxButton {
    position: absolute;
    background-color: inherit;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    color: darkgrey;
    font-size: 12px;
    width: 28px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 8px;
}

.comboboxText {
    display: block;
    color: black;
    font-size: 12px;
    padding-left: 6px;
    padding-top: 6px;
    text-align: left;
    vertical-align: middle;
}

.comboboxIcon {
    color: darkgrey;
}

.dropdownContent {
    background-color: white;
    border: 1px solid #429366;
    border-radius: 1px;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    margin-top: 2px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdownSearchbox {
    position: absolute;
    left: 3px;
    right: 3px;
    top: 3px;
}

.dropdownItemList {
    width: 100%;
    height: 100%;
}

.dropdownItemContainer {
    width: 100%;
    min-height: 24px;
    padding-left: 3px;
    padding-right: 3px;
}

.dropdownItem {
    display: block;
    background-color: white;
    border: solid 1px white;
    border-radius: 1px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
}

.dropdownItem:hover {
    background-color: #D3F0E0;
    border: solid 1px #86BFA0;
    border-radius: 1px;
    cursor: default;
}

.dateInputField {
    position: absolute;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: 0 solid transparent;
    font-size: 12px;
    padding-left: 6px;
    padding-top: 3px;
    width: 100%;
    height: 26px;
}

.dateInputField:hover,
.dateInputField:active,
.dateInputField:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border: 0 solid transparent;
    outline: 0 solid transparent;
}

.dateInputButton {
    position: absolute;
    background-color: transparent;
    border: 0 solid transparent;
    outline: 0 solid transparent;
    border-left: 1px solid darkgrey;
    color: darkgrey;
    font-size: 12px;
    width: 29px;
    height: 100%;
    top: 0;
    right: 0;
    padding: 6px 8px;
}

.calendarContent {
    background: white;
    border: 1px solid #429366;
    border-radius: 2px;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 222px;
    height: 253px;
    top: 28px;
    padding-left: 1px;
    right: 0;
    z-index: 5;
    overflow: hidden;
}

.calendarPagerButton {
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-top: 1px;
    padding-top: 7px;
    padding-left: 6px;
    border: solid darkgrey 1px;
    border-radius: 2px;
    background: white;
    color: black;
}

.calendarEmptyTile {
    float: left;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-top: 1px;
    border: solid transparent 1px;
    background: white;
    color: white;
}

.calendarDayName,
.calendarNumberButton {
    float: left;
    font-family: Arial, serif;
    font-size: 14px;
    width: 30px;
    height: 30px;
    margin-left: 1px;
    margin-top: 1px;
    padding-top: 8px;
    border: solid transparent 1px;
    border-radius: 2px;
    background: white;
    color: black;
}

.calendarTextButton {
    float: left;
    font-family: Arial, serif;
    font-size: 14px;
    width: 70px;
    height: 40px;
    margin-left: 2px;
    margin-top: 2px;
    padding-top: 12px;
    border: solid transparent 1px;
    border-radius: 2px;
    background: white;
    color: black;
}

.calendarMainButton {
    float: left;
    font-family: Arial, serif;
    font-size: 14px;
    width: 154px;
    height: 30px;
    margin-left: 1px;
    margin-top: 1px;
    padding-top: 8px;
    border: solid darkgrey 1px;
    border-radius: 2px;
    background: white;
    color: black;
}

.calendarMainButton:hover,
.calendarPagerButton:hover,
.calendarNumberButton:hover,
.calendarTextButton:hover {
    border: solid 1px #86BFA0;
    background: #D3F0E0;
    color: #07412f;
}

.calendarMainButton:active,
.calendarPagerButton:active,
.calendarNumberButton:active,
.calendarTextButton:active {
    border: solid 1px #429366;
    background: #86BFA0;
    color: #07412f;
}